.header > div{
    display: inline-block;
}

.nav {
    position: relative;
    left: 50px;
    font-size: 25px;
    line-height: 0px;
}

.nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav > ul > li{
    display: inline-block;
}

.nav > ul > li > a{
    padding: 0px 25px;
    color: black;
    text-decoration: none;
}

.category-dropdown { 
    position: fixed;
    top: 190px;
    width: 160px;
    height: 168px;
    background-color: #f1f3f5;
    display: none;
}

.nation-ul{
    position: relative;
    bottom:45.5px;
    left: 145px;
    width: 160px;
    height: 224px;
    background-color: #f1f3f5;
    display: none;
}

.type-ul{
    position: relative;
    bottom:45.5px;
    left: 145px;
    width: 160px;
    height: 224px;
    background-color: #f1f3f5;
    display: none;
}

.price-ul{
    position: relative;
    bottom:45.5px;
    left: 145px;
    width: 160px;
    height: 224px;
    background-color: #f1f3f5;
    display: none;
}

.category-dropdown div {
    margin: 0 auto;
    display: block;
    width: 130px;
    height: 36px;;
    text-align: center;
    padding: 10px;
    transition: 0.4s;
}

.category-dropdown a{
    font-size: 20px; 
    text-decoration: none;
    color: black;
    line-height: 35px;
}

.category-dropdown div:hover{
    background-color: #ced4da;
}

.search-box{
    position: relative;
    top: 11px;
    height: 25px;
    border-radius: 25px;
    background-color: #f2534b;  
    padding: 6px;
}

.search-btn{
    float:right;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background: #f03e3e;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
}

.search-txt{
    color: white;
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0px;
    font-size: 16px;
    transition: 0.4s;
    line-height: 25px;
    width: 0px;
}

.search-box:hover > .search-txt{
    width: 200px;
    padding: 0 10px;
}

.border-right{
    border-right: 3px solid #e03131;
}

.nav > ul > li > a:hover{
    font-weight: bold;
}

.login-box{
    display: none;
    position: fixed;
    top: 190px;
    right: 45%;
    width: 300px;
    background-color: #f1f3f5;
    padding: 30px;
    box-sizing: border-box;
    text-align: center;
}

.login-box h3{
    margin: 0 0 30px;
    padding: 0px;
    text-align: center;
}

.login-box .input-box input{
    margin: 5px;
    border: none;
    outline: none;
    font-size: 20px;
}

.submit{
    margin-left: 4px;
    margin-top: 10px;
    border: none;
    outline: none;
    width: 243px;
    height: 50px;
    cursor: pointer;
    transition: 0.4s;
}

.submit:hover{
    background-color: #ced4da;
}

.findBox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 243px;
}

.findBox button {
    padding: 10px;
    margin-left: 4px;
    margin-top: 10px;
    border: none;
    outline: none;
    height: 50px;
    width: 121.5px;
    cursor: pointer;
}

.findBox button:hover{
    background-color: #ced4da;
}
