/* 디폴트 */

body{
    margin: 0px;
    padding: 0px;
    height: 100%;
    background-image: linear-gradient(to bottom right, #ED213A, #93291E);
    font-family: 'Cardo', serif;
    font-family: 'Noto Serif KR', sans-serif;
    user-select: none;
}

.main{
    width: 70%;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 0 auto;
}

.content{
    margin: 0 auto;
    width: 95%;
    min-height: 100vh;
    flex: 1;
}

.footer{
    margin: 0 auto;
    width: 95%;
    height: 100px;
    border-top: 1px solid black;
}

.header{
    margin: 0 auto;
    width: 95%;
    height: 200px;
    border-bottom: 1px solid black;
}

/* 디폴트 */

/* 컨텐츠 시작 */

.content{
    margin: 0 auto;
    width: 95%;
    min-height: 100vh;
    flex: 1;
}

.content-category{
    margin: 0 auto;
    margin-top: 50px;
    width: 90%;
    border: 1px solid black; 
    border-collapse: collapse;
    font-size: 18px;
}

.content-category tr, td{
    width: 254px;
    height: 50px;
    border: 2.5px solid black; 
    background-color: #c92a2a;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    transition: 0.3s;
}

.content-category a {
    display: block;
    font-size: 20px;
    width: 100%;
    height: 100%;
    color: white;
    text-decoration: none;
}   

.content-category td:hover{
    background: #e03131;
}

.mainList {
    margin: 0 auto;
    margin-bottom: 20px;
    width: 95%;
}

.mainList > ul {
    list-style: none;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 0px;
    border-bottom: 1px solid rgba(0,0,0,0.4);
}

.mainList li {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 195px;
    margin: 0 20px;
}

.mainList a {
    text-decoration: none;
    color: black;
}

.mainList h4 {
    margin: 0px;
    padding: 10px 0;
    border-bottom: 1px solid rgba(0,0,0,0.4);
}

.wineName {
    display:inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 170px;
}

.wineType, .wineNation {
    width: 25px;
    height: 25px;
}

.left span, .right span {
    display: block;
}

.left {
    float: left;
}

.right {
    float: right;
    text-align: right;
}

.right img {
    width: 25px;
    height: 20px;
}

.wineList > li {
	padding: 5px;
	border: 1px solid rgba(0,0,0,0.15);
	transition: 0.3s;
}

.wineList > li:hover{
	border: 1px solid rgba(0,0,0,0.55);
}

/* 컨텐츠 끝 */
