body{
    margin: 0px;
    padding: 0px;
    height: 100%;
    background-image: linear-gradient(to bottom right, #ED213A, #93291E);
    font-family: 'Cardo', serif;
    font-family: 'Noto Serif KR', sans-serif;
}

.main{
    width: 70%;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 0 auto;
}

.content{
    margin: 0 auto;
    width: 95%;
    min-height: 100vh;
    flex: 1;
}

/* 콘텐츠 시작 */

.content .wrapper{
    margin: 60px auto;
    width: 1040px;
}

.product, .container, .review{
    display: inline-block;
    width: 510px;
}

.product img{
    width: 510px;
    height: 392px;
}

.container {
    float: right;
}

.info{
    padding: 10px;
}

.info table{
    border-collapse: collapse;
    margin-top: 20px;
}

.info table td {
    border-top: 1px solid rgb(0,0,0,0.3);
    padding: 17px;
}

.info table tr:last-child td {
    border-bottom: 1px solid rgb(0,0,0,0.3);
}

.info table td:first-child{
    width: 120px;
}

.info table td:last-child{
    width: 300px;
}

.product-amount {
    background-color: rgb(0,0,0,0.1);
    padding: 10px;
}

.product-amount span{
    padding: 7px;
}

.product-amount button {
    border: 0;
    background-color: rgb(0,0,0,0.1);
}

.product-amount button:active{
    font-size: 15px;
}

.payment .amount {
    margin: 0;
    width: 20px;
    height: 16px;
    border-bottom: none;
}

.payment-submit button {
    display: block;
    background-color: white;
    padding: 30px 0;
    font-size: 25px;
    cursor: pointer;
    transition: 0.6s;
}

.payment-submit button:first-child{
    width: 50%;
    color: #f2534b;
    float:left;
}

.payment-submit button:last-child{
    width: 50%;
    color: white;
    float:right;
}

#basket:hover {
    color: #f2534b;
}

#buy:hover {
    color: white;
}

.payment-submit {
   	display: inline-block;
    margin-bottom: 100px;
}

.payment-submit #basket {
    border: 1px solid #f2534b;
        width: 255px;
}

.payment-submit #buy {
    border: 1px solid #f2534b;
    background-color: #f2534b;
    width: 255px;
}

.price {
    height: 31px;;
    background-color: rgb(0,0,0,0.1);
}

.price span{
    padding: 5px;
    float: right;
}

.match-food-container {
    background-color: rgb(0,0,0,0.1);
}

.match-food-list {
    background-color: white;
    margin: 0 auto;
    border: 1px solid black;
    width: 90%;
    height: 300px;
    overflow: hidden;
    overflow-y:scroll;
}

.match-food-list button:hover{
    font-size: 15px;
}

.items {
    width: 100%;
    height: 100px;
    border-bottom: 1px solid black;
}

.items img {
    width: 100px;
    height: 100px;
    float: left;
}

.item-info {
    display: inline-block;
    width: 40%;
    height: 100%;
    white-space: pre-line;
}

.match-food-amount {
    display: inline-block;
}

#item-amount{
    margin: 0;
    width: 20px;
    height: 16px;
    border-bottom: none;
}

.items button{
    background-color: white;
    border: 0;
    outline: none;
}

.review {
    margin-top: 7px;
    width: 510px;
    height: 450px;
}

.review .write-review{
    display: flex;
    margin: 0 auto;
    border: 1px solid rgb(0,0,0,0.2);
}

.write-review textarea {
    border: 0;
    resize: none;
    width: 400px;
    padding: 5px;
}

.write-review button {
    border: 0;
    width: 100px;
    border-left: 1px solid #daddd4;
    background-color: white;
    cursor: pointer;
    transition: 0.6s;
}

.write-review button:hover{
    background-color: #f2534b;
    color: white;
}

.review-list {
    width: 100%;
    height: 80px;
    border-bottom: 1px solid rgb(0,0,0,0.5);
    border-left: 1px solid rgb(0,0,0,0.2); 
    border-right: 1px solid rgb(0,0,0,0.2);
}

.review-list .review-header {
    border-bottom: 1px solid rgb(0,0,0,0.5);
    padding: 3px;
}

.review-header a {
    float: right;
    color: black;
    margin: 0 5px;
}

.review-list textarea{
    border: 0;
    resize: none;

}

.review-list .write-date{
    float: right;
    font-size: 13px;
    font-weight: 50px;
    color: rgb(0,0,0,0.5);
}

.review-header a:hover{
    font-size: 18px;
}

.paging {
    font-size: 20px;
    padding: 15px;
    text-align: center;
}

.paging i {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.paging a {
    text-decoration: none;
    margin: 0 10px;
    color: black;
}

.paging a:hover {
    text-decoration: underline;
}

*:focus{
    outline: none;
}

/* 콘텐츠 끝 */


.footer{
    margin: 0 auto;
    width: 95%;
    height: 100px;
    border-top: 1px solid black;
}