body{
    margin: 0px;
    padding: 0px;
    height: 100%;
    background-image: linear-gradient(to bottom right, #ED213A, #93291E);
    font-family: 'Cardo', serif;
    font-family: 'Noto Serif KR', sans-serif;
}

.main{
    width: 70%;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 0 auto;
}

/* 헤더 */

.header{
    margin: 0 auto;
    width: 95%;
    height: 200px;
    border-bottom: 1px solid black;
}

.header > div{
    display: inline-block;
}

.nav {
    position: relative;
    left: 50px;
    font-size: 25px;
    line-height: 0px;
}

.nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav > ul > li{
    display: inline-block;
}

.nav > ul > li > a{
    padding: 0px 25px;
    color: black;
    text-decoration: none;
}

.category-dropdown { 
    position: fixed;
    top: 190px;
    width: 160px;
    height: 168px;
    background-color: #f1f3f5;
    display: none;
}

.nation-ul{
    position: relative;
    bottom:45.5px;
    left: 145px;
    width: 160px;
    height: 224px;
    background-color: #f1f3f5;
    display: none;
}

.type-ul{
    position: relative;
    bottom:45.5px;
    left: 145px;
    width: 160px;
    height: 224px;
    background-color: #f1f3f5;
    display: none;
}

.price-ul{
    position: relative;
    bottom:45.5px;
    left: 145px;
    width: 160px;
    height: 224px;
    background-color: #f1f3f5;
    display: none;
}

.category-dropdown div {
    margin: 0 auto;
    display: block;
    width: 130px;
    height: 36px;;
    text-align: center;
    padding: 10px;
    transition: 0.4s;
}

.category-dropdown a{
    font-size: 20px; 
    text-decoration: none;
    color: black;
    line-height: 35px;
}

.category-dropdown div:hover{
    background-color: #ced4da;
}

.search-box{
    position: relative;
    top: 11px;
    height: 25px;
    border-radius: 25px;
    background-color: #f2534b; 
    padding: 6px;
}

.search-btn{
    float:right;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background: #f03e3e;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
}

.search-txt{
    color: white;
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0px;
    font-size: 16px;
    transition: 0.4s;
    line-height: 25px;
    width: 0px;
}

.search-box:hover > .search-txt{
    width: 200px;
    padding: 0 10px;
}

.border-right{
    border-right: 3px solid #e03131;
}

.nav > ul > li > a:hover{
    font-weight: bold;
}

.login-box{
    display: none;
    position: fixed;
    top: 190px;
    right: 45%;
    width: 300px;
    background-color: #f1f3f5;
    padding: 30px;
    box-sizing: border-box;
    text-align: center;
}

.login-box h3{
    margin: 0 0 30px;
    padding: 0px;
    text-align: center;
}

.login-box .input-box input{
    margin: 5px;
    border: none;
    outline: none;
    font-size: 20px;
}

.submit{
    margin-left: 4px;
    margin-top: 10px;
    border: none;
    outline: none;
    width: 243px;
    height: 50px;
    cursor: pointer;
    transition: 0.4s;
}

.submit:hover{
    background-color: #ced4da;
}

/* 헤더 끝 */


.content{
    margin: 0 auto;
    width: 95%;
    min-height: 100vh;
    flex: 1;
}

/* 콘텐츠 시작 */

.content .wrapper{
    margin: 60px auto;
    width: 1040px;
}

.product, .container, .review{
    display: inline-block;
    width: 510px;
}

.product img{
    width: 510px;
    height: 392px;
}

.container {
    float: right;
}

.info{
    padding: 10px;
}

.info table{
    border-collapse: collapse;
    margin-top: 20px;
}

.info table td {
    border-top: 1px solid rgb(0,0,0,0.3);
    padding: 17px;
}

.info table tr:last-child td {
    border-bottom: 1px solid rgb(0,0,0,0.3);
}

.info table td:first-child{
    width: 120px;
}

.info table td:last-child{
    width: 300px;
}

.product-amount {
    background-color: rgb(0,0,0,0.1);
    padding: 10px;
}

.product-amount span{
    padding: 7px;
}

.product-amount button {
    border: 0;
    background-color: rgb(0,0,0,0.1);
}

.product-amount button:active{
    font-size: 15px;
}

.payment .amount {
    margin: 0;
    width: 20px;
    height: 16px;
    border-bottom: none;
}

.payment-submit button {
    display: block;
    background-color: white;
    padding: 15px;
    margin-bottom: 100px;
    font-size: 25px;
    cursor: pointer;
    transition: 0.6s;
}

.payment-submit button:first-child{
    width: 50%; 
    float:left;
}

.payment-submit button:last-child{
    width: 50%;
    float:right;
}

.payment-submit #basket {
    border: 1px solid #f2534b;
}

#basket {
    color: #f2534b;
}

.payment-submit #buy {
    border: 1px solid #f2534b;
    background-color: #f2534b;
}

#buy {
    color: white;
}

.price {
    height: 31px;;
    background-color: rgb(0,0,0,0.1);
}

.price span{
    padding: 5px;
    float: right;
}

.match-food-container {
    background-color: rgb(0,0,0,0.1);
}

.match-food-list {
    background-color: white;
    margin: 0 auto;
    border: 1px solid black;
    width: 90%;
    height: 300px;
    overflow: hidden;
    overflow-y:scroll;
}

.match-food-list button:hover{
    font-size: 15px;
}

.items {
    width: 100%;
    height: 100px;
    border-bottom: 1px solid black;
}

.items img {
    width: 100px;
    height: 100px;
    float: left;
}

.item-info {
    display: inline-block;
    width: 40%;
    height: 100%;
    white-space: pre-line;
}

.match-food-amount {
    display: inline-block;
}

#item-amount{
    margin: 0;
    width: 20px;
    height: 16px;
    border-bottom: none;
}

.items button{
    background-color: white;
    border: 0;
    outline: none;
}

.review {
    margin-top: 7px;
    width: 510px;
    height: 450px;
}

.review .write-review form{
    display: flex;
    margin: 0 auto;
    border: 1px solid rgb(0,0,0,0.2);
}

.write-review textarea {
    border: 0;
    resize: none;
    padding: 5px;
}

.write-review button {
    border: 0;
    width: 120px;
    border-left: 1px solid #daddd4;
    background-color: white;
    cursor: pointer;
    transition: 0.6s;
}

.write-review button:hover{
    background-color: #f2534b;
    color: white;
}

.review-list {
    width: 100%;
    height: 80px;
    border-bottom: 1px solid rgb(0,0,0,0.5);
    border-left: 1px solid rgb(0,0,0,0.2); 
    border-right: 1px solid rgb(0,0,0,0.2);
}

.review-list .review-header {
    border-bottom: 1px solid rgb(0,0,0,0.5);
    padding: 3px;
}

.review-header a {
    float: right;
    color: black;
    margin: 0 5px;
}

.review-list textarea{
    border: 0;
    resize: none;

}

.review-list .write-date{
    float: right;
    font-size: 13px;
    font-weight: 50px;
    color: rgb(0,0,0,0.5);
}

.review-header a:hover{
    font-size: 18px;
}

.paging {
    font-size: 20px;
    padding: 15px;
    text-align: center;
}

.paging i {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.paging a {
    text-decoration: none;
    margin: 0 10px;
    color: black;
}

.paging a:hover {
    text-decoration: underline;
}

*:focus{
    outline: none;
}

/* 콘텐츠 끝 */


.footer{
    margin: 0 auto;
    width: 95%;
    height: 100px;
    border-top: 1px solid black;
}