body {
	margin: 0px;
	padding: 0px;
	height: 100%;
	background-image: linear-gradient(to bottom right, #ED213A, #93291E);
	font-family: 'Cardo', serif;
	font-family: 'Noto Serif KR', sans-serif;
}

.main {
	width: 70%;
	display: flex;
	flex-direction: column;
	background-color: white;
	margin: 0 auto;
}

.header {
	margin: 0 auto;
	width: 95%;
	height: 200px;
	border-bottom: 1px solid black;
}

.content {
	margin: 0 auto;
	width: 95%;
	min-height: 100vh;
	flex: 1;
}

.footer {
	margin: 0 auto;
	width: 95%;
	height: 100px;
	border-top: 1px solid black;
}

/* 콘텐츠 시작 */
.wrapper {
	margin: 20px auto;
	padding: 0px;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.wrapper li {
	list-style: none;
}

.wrapper a {
	text-decoration: none;
	color: black;
}

.sort li {
	float: left;
	border-right: 1px solid rgb(0, 0, 0, 0.5);
	padding: 0 10px;
	margin-bottom: 10px;
}

.sort li:last-child {
	border-right: 0;
}

.search-List li {
	border: 1px solid rgba(0, 0, 0, 0.15);
	float: left;
	width: 200px;
	height: 360px;
	display: flex;
	flex-direction: column;
	margin: 0 15px;
	padding: 5px
}

.search-List li:hover {
	border: 1px solid rgba(0, 0, 0, 0.55);
}

.search-img {
	margin: 0 auto;
}

.search-img>a>img {
	width: 200px;
	height: 280px;
}

.search-info {
	width: 100%;
	min-width: 200px;
}

.search-info .left {
	display: flex;
	float: left;
	flex-direction: column;
}

.search-info .left span {
	margin: 6px;
}

.search-info .right {
	display: flex;
	float: right;
	flex-direction: column;
}

.search-info .right span {
	margin: 6px;
}

.paging {
	margin: 0;
	padding: 20px;
	text-align: center;
	font-size: 25px;
}

.paging a {
	display: inline-block;
	margin: 0 15px;
	width: 30px;
	transition: 0.5s;
}

.paging i {
	margin: 0 5px;
	cursor: pointer;
	transition: 0.6s;
}

.paging a:hover {
	background: black;
	color: white;
}

.paging i:hover {
	font-size: 33px;
}